.wrapper{
  display: flex;
  height: 100vh;
}

/* メイン */
.main-chat{
  width: calc(100vw - 300px);
  height: 100vh;
}
.main-header{
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
}
.main-body{
  height: calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
}
.main-footer{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}

/* サイドバー */
.side-bar{
  width: 300px;
  background-color: #253141;
  height: 100vh;
}
.side-header{
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a{
  font-size: 16px;
  color: #FAFAFA;
}
.create-room a{
  border: 1px lightblue solid;
  font-size: 10px;
  color: skyblue;
  text-decoration: none;
  padding: 14px;
}

.side-body{
  height: calc(100vh - 100px);
  background-color: #2F3E51; 
   padding: 0 20px;
   overflow: scroll;
  }

.room{
  padding: 20px 0 40px;
}
.room-name a{
  color: white;
}


